<div class="ngdialog-message">
	<i class="fa fa-3x {{ngDialogData.iconClass}}"></i>
	{{ngDialogData.msg}}
</div>
<div class="ngdialog-buttons submitButton"> 
	<a ng-click="closeThisDialog()" ng-show="ngDialogData.cancelButton" class="fa fa-times fa-2x"></a>
	<a ng-click="confirm()" class="fa fa-check fa-2x"></a>
</div>