<form ng-controller="CreateLibraryCtrl as createLibrary" name="createLibrary.form">
	<h2><%= __('ui.library.create.header') %></h2>
	<p><%= __('ui.library.create.select.label') %></p>
	<table>
		<tr>
			<td>
				<vb-select ng-model="createLibrary.model" options="createLibrary.list" value="model" label="label">
					<i class="fa fa-home fa-2x"></i>
				</vb-select>
			</td>
			<td>
				<img ng-src="{{createLibrary.getImg()}}" class="previewImg">
			</td>
		</tr>
	</table>

	<div class="buttons">
		<a ng-click="closeThisDialog()" class="button"><i class="fa fa-times fa-lg"></i><%= __('ui.dialog.close') %></a>
		<a ng-click="createLibrary.create()" class="button"><i class="fa fa-check fa-lg"></i><%= __('ui.dialog.create') %></a>
	</div>
</form>	