<ul class="pagination select" ng-if="1 < pages.length">
    <span href="" ng-click="setCurrent(pagination.current - 1)" class="fa fa-chevron-left" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }"></span>

    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ selectedItem : pagination.current == pageNumber, disabled : pageNumber == '...' }" ng-click="setCurrent(pageNumber)">
        {{ pageNumber }}
    </li>

    <span href="" ng-click="setCurrent(pagination.current + 1)" class="fa fa-chevron-right" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }"></span>
</ul>