<div ng-controller="InventoryCtrl as inventory" class="inventory">
	<div ng-show="inventory.isShow()" class="uiPanel" block-ui="inventory">
		<div class="search">
			<span class="fa fa-search"></span>
			<input ng-model="inventory.search" type="text"></input>
		</div>
		
		<ul>
			<li dir-paginate="item in inventory.catalog.books | filter:inventory.search | orderBy:'title' | itemsPerPage:5">
				<div class="inventoryItem" ng-class="{selected: inventory.isBookSelected(item.id)}" ng-click="inventory.select(item)">
					<i class="fa fa-book"></i>
					<span ng-bind="item.title"></span>
				</div>
			</li>	
		</ul>

		<center>
			<dir-pagination-controls></dir-pagination-controls>
		</center>

		<div class="buttons">
			<a ng-click="inventory.addBook()" class="button"><i class="fa fa-plus fa-lg"></i><%= __('ui.dialog.create') %></a>
		</div>
	</div>
</div>