<div ng-controller="AuthCtrl as auth" class="loginPage">
	<p><%= __('ui.login.header') %></p>
	<span ng-click="auth.loginGoogle(); closeThisDialog();" class="fa fa-google fa-2x"></span>
	<span ng-click="auth.loginTwitter(); closeThisDialog();" class="fa fa-twitter fa-2x"></span>
</div>