<!DOCTYPE html>
<html>
	<head>
		<title><%= __('page.title') %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="<%= __('page.keywords') %>">
		<meta name="description" content="<%= __('page.description') %>">
		<meta name="yandex-verification" content="67e0a4e16e84c2d6"/>
	
		<script src="/js/vendor.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/vendor.css">
		<link rel="stylesheet" type="text/css" href="/css/ngDialog-theme-default.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body ng-app="VirtualBookshelf" ng-controller="UiCtrl" block-ui="global" ng-cloak>
		<canvas id="LIBRARY"></canvas>
		<div growl></div>
		
		<!-- UI -->
		<ng-include src="'ui/mainMenu.ejs'"></ng-include>
    	<ng-include src="'ui/inventory.ejs'"></ng-include>
    	<ng-include src="'ui/welcome.ejs'"></ng-include>
		<ng-include src="'ui/tooltip.ejs'"></ng-include>
		<ng-include src="'ui/tools.ejs'"></ng-include>

		<!-- dialogs -->
    	<ng-include src="'ui/createLibrary.ejs'"></ng-include>
    	<ng-include src="'ui/createSection.ejs'"></ng-include>
    	<ng-include src="'ui/selectLibrary.ejs'"></ng-include>
    	<ng-include src="'ui/feedback.ejs'"></ng-include>
    	<ng-include src="'ui/book.ejs'"></ng-include>
    	<ng-include src="'ui/loginDialog.ejs'"></ng-include>
    	<ng-include src="'ui/registrationDialog.ejs'"></ng-include>
    	<ng-include src="'ui/linkAccount.ejs'"></ng-include>
    	<ng-include src="'ui/confirmDialog.ejs'"></ng-include>

    	<!-- shaders -->
    	<ng-include src="'ui/BookMaterialVertexShader.ejs'"></ng-include>
    	<ng-include src="'ui/BookMaterialFragmentShader.ejs'"></ng-include>

		<script src="/js/index.js"></script>
	</body>
</html>
