<!DOCTYPE html>
<html>
	<head>
		<title><%= __('page.title') %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="<%= __('page.keywords') %>">
		<meta name="description" content="<%= __('page.description') %>">
	
		<script src="/js/angular/angular.min.js"></script>
		<script src="/js/angular/block-ui/angular-block-ui.min.js"></script>
		<script src="/js/angular/dirPagination/dirPagination.js"></script>
		<script src="/js/angular/ngDialog/ngDialog.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/js/angular/block-ui/angular-block-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/js/angular/ngDialog/ngDialog.min.css">
		<link rel="stylesheet" type="text/css" href="/js/angular/ngDialog/ngDialog-theme-default.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body ng-app="VirtualBookshelf" ng-controller="UiCtrl" block-ui="global" ng-cloak>
		<canvas id="LIBRARY"></canvas>
		
		<div class="uiPanel navigation" ng-mouseup="navigation.stop()" ng-mouseleave="navigation.stop()">
			<span ng-mousedown="navigation.left()" class="fa fa-chevron-left fa-2x"></span>
			<span ng-mousedown="navigation.right()" class="fa fa-chevron-right fa-2x"></span>
			<span ng-mousedown="navigation.backward()" class="fa fa-chevron-down fa-2x"></span>
			<span ng-mousedown="navigation.forward()" class="fa fa-chevron-up fa-2x"></span>
		</div>

		<script type="text/ng-template" id="mainMenu">
    		<ng-include src="'ui/mainMenu.ejs'"></ng-include>
    	</script>

    	<ng-include src="'ui/inventory.ejs'"></ng-include>
    	<ng-include src="'ui/welcome.ejs'"></ng-include>

		<script src="/js/index.js"></script>
	</body>
</html>