<!DOCTYPE html>
<html>
	<head>
		<title><%= __('page.title') %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="<%= __('page.keywords') %>">
		<meta name="description" content="<%= __('page.description') %>">
		<meta name="yandex-verification" content="67e0a4e16e84c2d6"/>
	
		<script src="/js/vendor.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/vendor.css">
		<link rel="stylesheet" type="text/css" href="/css/ngDialog-theme-default.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-64257630-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body ng-app="VirtualBookshelf" ng-controller="UiCtrl" block-ui="global" ng-cloak>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=974128875939093";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>	
		
		<canvas id="LIBRARY"></canvas>
		<div growl></div>
		
		<!-- UI -->
		<ng-include src="'ui/mainMenu.ejs'"></ng-include>
    	<ng-include src="'ui/inventory.ejs'"></ng-include>
    	<ng-include src="'ui/welcome.ejs'"></ng-include>
		<ng-include src="'ui/tooltip.ejs'"></ng-include>
		<ng-include src="'ui/tools.ejs'"></ng-include>

		<!-- dialogs -->
    	<ng-include src="'ui/createLibrary.ejs'"></ng-include>
    	<ng-include src="'ui/createSection.ejs'"></ng-include>
    	<ng-include src="'ui/selectLibrary.ejs'"></ng-include>
    	<ng-include src="'ui/feedback.ejs'"></ng-include>
    	<ng-include src="'ui/book.ejs'"></ng-include>
    	<ng-include src="'ui/loginDialog.ejs'"></ng-include>
    	<ng-include src="'ui/registrationDialog.ejs'"></ng-include>
    	<ng-include src="'ui/linkAccount.ejs'"></ng-include>
    	<ng-include src="'ui/confirmDialog.ejs'"></ng-include>

    	<!-- shaders -->
    	<ng-include src="'ui/BookMaterialVertexShader.ejs'"></ng-include>
    	<ng-include src="'ui/BookMaterialFragmentShader.ejs'"></ng-include>

		<script src="/js/index.js"></script>
	</body>
</html>
