body {
	color: #C5DEBF;
	padding: 0;
	margin: 0;
	overflow: hidden;

	/*Text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}
canvas#LIBRARY {
	width: 100%;
	height: 100%;
	display: block; 
}
p, label{
	color: #C5DEBF;
	font-size: 14pt;
	margin: 0;
	margin-bottom: 5px;
}
a {
	color: #9582FF;
	text-decoration: none;
	cursor: pointer;
	margin: 
}
div.ui {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
div.uiPanel {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	margin: 10px;
	padding: 15px;
}
div[menuNode] {
	display: none;
}
.left {
	float: left;
	clear: left;
}
.right {
	float: right;
}
.navigation {
    position: absolute;
    right: 0;
    bottom: 0;
}
i.fa{
	color: lightgreen;
	cursor: default;
}
i.fa:hover {
	color: lime;
}
.mainMenu {
	position: absolute;
	left: 0;
	bottom: 0;
}
div.ui > div.uiPanel > div.field {
	border-bottom: 1px solid #550000;
	padding: 0px 10px 0px 10px;
	margin:  0px 0px 5px 0px;
	border-radius: 10px;
}
select, option, input:not([type = radio]), textarea {
	background: #200707;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	width: 100%;
	color: #C5DEBF;
	display: block;
	margin: 0;
	padding: 0;
}
textarea {
	width: 250px;
	height: 100px;
}
ul {
	margin: 0;
	padding: 0;
    cursor: default;
}
ul > li {
	margin: 5px;
	padding: 3px;
	list-style: none;
	/*background-color: rgba(100, 0, 0, 0.4);*/
	/*border-radius: 5px;*/
}
.activeEdit {
	color: #007700;
}
.inactiveEdit {
	color: #770000;
}