body {
	color: #C5DEBF;
	padding: 0;
	margin: 0;
	overflow: hidden;	
}
canvas#LIBRARY {
	width: 100%;
	height: 100%;
	display: block; 
}
p, label {
	color: #C5DEBF;
	font-size: 14pt;
	margin: 0;
	margin-bottom: 5px;
}
a {
	color: #9582FF;
	text-decoration: none;
	cursor: pointer;
	margin: 
}
table {
	width: 100%;
}
div.ui {
	position: absolute;
	cursor: default;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*Text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}
.uiPanel, .block-ui-overlay {
	border-radius: 20px;
	background: linear-gradient(to bottom, rgba(50,50,50,0.7) 0%,rgba(0,0,0,0.7) 100%);
}
.uiPanel {
	margin: 10px;
	padding: 15px;
}
.block-ui-message {
	background-color: transparent;
	font-size: 14px;
}
.left {
	float: left;
	clear: left;
}
.inventory {
	float: right;
}
.inventory li {
	font-size: 10pt;
}
.inventoryItem {
	background: linear-gradient(to bottom, rgba(50,100,50,0.5) 0%, rgba(0,0,0,0.5) 100%);
	border-radius: 10px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
}
.inventoryControls {
	float: right;
}
.navigation {
    position: absolute;
    right: 0;
    bottom: 0;
}
.search { 
	position: relative; 
}
.search input { 
	text-indent: 25px;
}
.search .fa-search { 
  position: absolute;
  font-size: 20px;
  color: grey;
}
.feedback {
	float: right;
	text-align: center;
}
.login {
	float: left;
}
a.fa {
	color: lightgreen;
	cursor: default;
}
a.fa:hover {
	color: lime;
}
i.fa {
	margin: 0px 5px 0px 0px;
}
.mainMenu {
	position: absolute;
	left: 0;
	bottom: 0;
}
.mainMenuButton {
	float: left;
}
.uiPanel .submitButton {
	float: right;
	margin-left: 20px;
}
input[type="text"], textarea {
	font-size: large;
	width: 100%;
  	padding: 0px; /* for width: 100%*/
  	border: none;
  	outline: none;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(50,50,50,0.5) 100%);
  	color: #C5DEBF;
}
ul {
	margin: 0;
	padding: 0;
    cursor: default;
}
ul li {
	margin: 5px;
	padding: 3px;
	list-style: none;
	border-radius: 5px;
}
ul.select li:hover:not(.selectedItem) {
	background-color: rgba(20, 50, 20, 0.4);
}
ul.select li.selectedItem {
	background-color: rgba(0, 100, 0, 0.4);
}
.previewImg {
	width: 128px;
	height: 128px;
	border: solid darkslategrey;
	border-radius: 30px;
	float: right;
}
ul.pagination > li {
	display: inline;
	margin: 0px;
}