body {
	color: #C5DEBF;
	background-color: #000000;
	padding: 0;
	margin: 0;
	overflow: hidden;	
}
canvas#LIBRARY {
	width: 100%;
	height: 100%;
	display: block; 
}
p, label {
	font-size: 14pt;
	margin: 0;
	margin-bottom: 5px;
}
label, h1, h2, h3 {
	color: mediumseagreen;
}
p {
	color: #C5DEBF;
}
a {
	color: #9582FF;
	font-size: 14pt;
	text-decoration: none;
	cursor: pointer;
}
table {
	width: 100%;
}
.uiPanel {
	cursor: default;
	/*Text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}
.uiPanel, .block-ui-overlay, .ngdialog-content {
	overflow: hidden;
	border-radius: 20px;
	background: linear-gradient(to bottom, rgba(50,50,50,0.7) 0%,rgba(0,0,0,0.7) 100%);
}
.ngdialog-content {
	background: linear-gradient(to bottom, rgba(50,50,50,0.9) 0%,rgba(0,0,0,0.9) 100%);
}

.uiPanel {
	margin: 10px;
	padding: 15px;
}
.block-ui-message {
	background-color: transparent;
	font-size: 14px;
}
.tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
}
.tooltip p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 10pt;
}
.inventory {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 330px;
	float: right;
}
.inventory li {
	font-size: 10pt;
	margin: 0px;
}
.inventoryItem {
	background: linear-gradient(to bottom, rgba(50, 100, 50, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
	border-radius: 10px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
}
.selected {
	background: linear-gradient(to bottom, rgba(14, 179, 35, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.cover span.fa {
	float: right;
}
.navigation {
    text-align: center;
}
.search input { 
	text-indent: 25px!important;
	margin-bottom: 5px; 
}
.search .fa-search { 
  position: absolute;
  font-size: 20px;
  color: grey;
}
.welcomePage {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	margin-left: 25%;
}
.welcomePage > p {
	text-align: justify;
}
.welcomeControl {
	margin: 30px;
	padding: 10px;
	text-align: center;
	background-color: rgba(20, 70, 20, 0.4); 
	cursor: pointer;
	border-radius: 8px;
}
.welcomeControl:hover {
	background-color: rgba(20, 100, 20, 0.4);
}

ul.loginProviders {
	text-align: center;
	margin-bottom: 20px;
}
ul.loginProviders > li {
	display: inline-block;
	cursor: pointer;
	background-color: rgba(20, 70, 20, 0.4); 
}
ul.loginProviders > li:hover {
	background-color: rgba(20, 100, 20, 0.4);
}
ul.loginProviders > li > .fa {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
    text-align: center;
    vertical-align: bottom;
	font-size: 40px;
	margin: 0px;
}

.registration > table {
	margin: 10px 0px 10px 0px;
}
span.fa {
	color: lightgreen;
	cursor: default;
}
span.fa:hover {
	color: lime;
}
i.fa {
	margin: 0px 5px 0px 0px;
}
.mainMenu {
	position: absolute;
	left: 0;
	bottom: 0;
}

.submitButton {
	float: right;
	margin-left: 20px;
}
.submitButton > span.fa {
	margin-left: 10px; 
}

.button {
	display: inline-block;
	padding: 6px 12px;
	color: lightgreen;
	background-color: rgba(20, 70, 20, 0.4); 
	border-radius: 8px;
	cursor: pointer;
}
.button:hover {
	background-color: rgba(20, 100, 20, 0.4);
}

input[type="text"], input[type="email"], textarea {
	display: block;
	font-size: large;
	width: 100%;
  	padding: 0px; /* for width: 100%*/
  	border: none;
  	outline: none;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(50,50,50,0.5) 100%);
  	color: #C5DEBF;
  	text-indent: 5px;
}
ul {
	margin: 0;
	padding: 0;
    cursor: default;
}
ul li {
	margin: 5px;
	padding: 3px;
	list-style: none;
	border-radius: 5px;
}
ul.select li {
	cursor: pointer;
}
ul.select li:hover:not(.selectedItem) {
	background-color: rgba(20, 50, 20, 0.4);
}
ul.select li.selectedItem {
	background-color: rgba(0, 100, 0, 0.4);
}
.tools {
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: center;
}
.tools ul {
	margin-bottom: 10px
}
.tools h3, .tools h4 {
	margin: auto;
}
.tools h4 {
	width: 200px;
	word-wrap: break-word;
}
.tools .sub {
	display: block;
	color: lime;
	font-size: small;
	font-weight: bold;
}
.previewImg {
	width: 128px;
	height: 128px;
	border: solid darkslategrey;
	border-radius: 30px;
	float: right;
}
ul.pagination > li {
	display: inline;
	margin: 0px;
}
input.ng-invalid, textarea.ng-invalid, vb-select.ng-invalid ul {
	border: solid red thin;
}

.ngdialog h2 {
	margin-top: 0px;
}
.buttons {
	float: right;
	margin-top: 15px;
}

/*bootstrap for growl*/
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background: linear-gradient(to bottom, rgba(50,50,50,0.7) 0%,rgba(0,0,0,0.7) 100%);
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}