<script type="text/ng-template" id="confirmDialog">
	<div class="ngdialog-message">
		<i class="fa fa-3x {{ngDialogData.iconClass}}"></i>
		{{ngDialogData.msg}}
	</div>
    
	<div class="ngdialog-buttons"> 
		<a ng-click="closeThisDialog()" ng-show="ngDialogData.cancelButton" class="button">
            <i class="fa fa-times fa-lg"></i>
            <%= __('ui.dialog.cancel') %>
        </a>
		<a ng-click="confirm()" class="button submitButton">
            <i class="fa fa-check fa-lg"></i>
            <%= __('ui.dialog.ok') %>
        </a>
	</div>
</script>